{
  "dataPath": "/tmp/.radiodan",
  "players": [
    {
      "name": "My radio",
      "id": 1,
      "player": "mpd"
    },
    {
      "name": "another one",
      "id": 2,
      "player": "mpd"
    }
  ]
}
