{
  "dataPath": "/tmp/.radiodan",
  "players": [
    {
      "name": "My radio",
      "id": 1,
      "player": "mpd"
    },
    {
      "name": "another one",
      "id": 2,
      "player": "mpd"
    }
  ],
  "broker": {
    "rpc": "tcp://127.0.0.1:7171",
    "pub": "tcp://127.0.0.1:7173",
    "sub": "tcp://127.0.0.1:7172"
  }
}
