music_directory         "{{{music}}}"
playlist_directory      "{{{playlist}}}"
db_file                 "{{{db}}}"
log_file                "{{{log}}}"
log_level               "verbose"

filesystem_charset      "UTF-8"

follow_outside_symlinks "yes"
follow_inside_symlinks  "yes"

auto_update             "yes"

zeroconf_name           "{{{name}}}"
zeroconf_enabled        "yes"

port                    "{{{port}}}"

metadata_to_use         "artist,album,title,track,name,genre,date,disc"

decoder {
  plugin "mp4ff"
  enabled "no"
}

{{#coreAudio}}
audio_output {
    type       "osx"
    name       "CoreAudio"
    mixer_type "software"
    format     "{{format}}"
}
{{/coreAudio}}

{{#alsa}}
audio_output {
    type       "alsa"
    name       "Speakers"
    device     "hw:0,0"
    format     "{{format}}"
    mixer_type "software"
}
{{/alsa}}

{{#httpStreaming}}
audio_output {
    type            "httpd"
    name            "Web Stream"
    encoder         "lame"
    port            "{{{httpPort}}}"
    bind_to_address "0.0.0.0"
    bitrate         "128"
    format          "{{format}}"
    max_clients     "0"
    always_on       "yes"
}
{{/httpStreaming}}
